<footer>
  <div>
    <ul>
      <li>&#169;2024 Airbnb,Inc.</li>
      <li>Privacy</li>
      <li>Terms</li>
      <li>Sitemap</li>
      <li>Company details</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <a target="_blank" href="https://www.instagram.com/iavaneeshjaiswal/"
          >Instagram</a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/Avaneeh">Github</a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/avaneeshjaiswal"
          >Linkedin</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/@iavaneeshjaiswal"
          >Youtube</a
        >
      </li>
    </ul>
  </div>
</footer>
