<header>
  <nav>
    <ul>
      <li>
        <a href="/listings"><img src="/images/Airbnb_Logo_Bélo.svg.png" /></a>
      </li>
      <li><a href="/listings/create">Airbnb Your Home</a></li>
      <li><a href="/listings/trip">Plan your Trip</a></li>
    </ul>
  </nav>
</header>
